:root{
   --primary-bg: #fffaf0;
   --rich-mahogany: #2d0605;
   --crimson-violet: #4c0827;
   --dusty-rose: #c78283;
   --soft-blush: #f3d9dc;
   --pale-oak: #d7bea8;
   --standard-gap: 40px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--primary-bg);
    color: var(--rich-mahogany);
    margin: var(--standard-gap)
}
h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--crimson-violet);
}
.border {
   border: 4px solid var(--soft-blush);
   box-shadow: 0 0 0 5px var(--rich-mahogany);
   background-color: var(--pale-oak);
   padding: 20px;
}
h2 {
   font-family: 'Playfair Display', serif;
   color: var(--rich-mahogany);
}
h3 {
   color: var(--crimson-violet);
}
p {
   color: var(--rich-mahogany);
}
ul {
   list-style-type: circle;
}
.button {
   display: inline-block;
   text-decoration: none;
   border: 2px solid var(--rich-mahogany);
   color: var(--rich-mahogany);
   background-color: var(--pale-oak);
   padding: 2px;
   margin: 2px;
   width: 50px;
   transition: all 0.3s ease;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.button:hover {
    background-color: var(--crimson-violet);
    color: var(--dusty-rose);
}
.in-text-link {
    color: var(--rich-mahogany);
    text-decoration: none;
    transition: all 0.3s ease;
}
.in-text-link:hover {
    color: var(--dusty-rose);
}
img {
    border: 1px solid var(--soft-blush);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
img:hover {
    background-color: var(--dusty-rose);
}
#logo {
   width: 60px;
   border: none;
   border-radius: 0;
   padding: 0;
}
#logo:hover {
   background-color: transparent;
}
.outer-box {
   border: 5px solid var(--dusty-rose);
   background-color: var(--soft-blush);
   display: inline-block;
   margin: 30px;
   margin-left: 2em;
}
.inner-box {
   border: 5px solid var(--dusty-rose);
   background-color: var(--crimson-violet);
   padding: 15px;
   height: 100px;
   width: 100px;
   margin-top: -20px;
   margin-bottom: 10px;
   margin-right: 10px;
   margin-left: 0.5em;
}
.inner-box h3 {
   color: var(--primary-bg);
   font-size: medium;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.inner-box p {
   color: var(--primary-bg);
   font-size: small;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}