:root{
   --primary-bg: #fffaf0;
   --rich-mahogany: #2d0605;
   --crimson-violet: #4c0827;
   --dusty-rose: #c78283;
   --soft-blush: #f3d9dc;
   --pale-oak: #d7bea8;
   --standard-gap: 40px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--primary-bg);
    color: var(--rich-mahogany);
    margin: var(--standard-gap)
}
h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--crimson-violet);
}